<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Loading...</title>
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="./../../../Global Components/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" :answer="answer">
                <template v-slot:flavour-text>
                    Black holes wrap space around them, bending and blocking the views. What is the best way to get around all these black holes?
                </template>
                <table>
                    <tr v-for="row in grid">
                        <td v-for="cell in row.split(',')">
                            {{cell.trim() === "-" ? "" : cell}}
                        </td>
                    </tr>
                </table>
            </base-puzzle>
        </div>
    </body>
    <script src="../../../Libraries/vue.js"></script>
    <script src="../../../Global Components/Components/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
