* {
    font-family: monospace;
    color: black;
}

table {
    border-collapse: collapse;
    margin: 16px auto;
}

td {
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
}

ul {
    padding-left: 0px;
}

ul li {
    list-style-type: none;
}
