* {
    font-family: monospace;
    color: black;
}

.header {
    padding: 8px;
    display: flex;
    justify-content: space-around;
}

.author {
    align-self: center;
}

.header button {
    min-width: 16rem;
    min-height: 3rem;
}

.flavour {
    font-size: 16px;
    min-height: 3.5rem;
}

table {
    width: 100%;
    font-size: 14px;
    text-align: left;
}

.blank {
    font-size: 16px;
    font-weight: bold;
}

.red {
    color: red;
}