* {
    font-family: monospace;
    color: black;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sheet {
	min-width: 200px;
	margin: 8px;
	text-align: left;
	font-size: 16px;
	border: 2px solid black;
	padding: 8px;
}

.yellow {
    background-color: #FFE;
}

.red {
    background-color: #FEE;
}

.text {
    font-style: italic;
}

.score {
    font-weight: bold;
}
