<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Binder</title>
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="./../../../Global Components/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" :answer="answer">
                <template v-slot:flavour-text>{{flavourText}}</template>
                <div v-for="section in sections">
                    <div class="section-header">{{section.name}}</div>
                    <ul>
                        <li class="clue" v-for="clue in section.clues">{{clue}}</li>
                    </ul>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../../Libraries/vue.js"></script>
    <script src="../../../Global Components/Components/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
