<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Matrix</title>
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="./../../../Global Components/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" :answer="answer">
                <template v-slot:flavour-text>{{flavourText}}</template>
                <table>
                    <tr v-for="row in wordSearch.split('\n')">
                        <td v-for="c in row.trim().split('')">{{c}}</td>
                    </tr>
                </table>
                <ul>
                    <li class="clue" v-for="clue in clues">{{clue}}</li>
                </ul>
            </base-puzzle>
        </div>
    </body>
    <script src="../../../Libraries/vue.js"></script>
    <script src="../../../Global Components/Components/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
